span.term {
  font-weight: 600;
  margin-right: 1em;
}

.text-center {
  text-align: center;
}

div.row-control {
  text-align: right;
}

div.stack {
  display: table;
}

div.stack div {
  float: none;
  width: 1em;
  margin: 0;
}

div.stack div.row {
  display: table-row;
}

div.stack div.row div {
  display: table-cell;
}

div.stack div.explanation {
  transform: rotate(270deg);
  transform-origin: middle bottom 0;
  height: 3em;
  vertical-align: bottom;
}

div.matrix {
  padding: 0;
}

div.increase, div.decrease {
  padding: 0;
}

table.matrix {
  border-style: solid;
  border-width: 1px;
}

table.matrix th, table.matrix td {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  min-width: 2em;
  text-align: center;
}

table.matrix th input, table.matrix td input {
  max-width: 5em;
  min-width: 3em;
  text-align: center;
}